<h1 class="mb-3">Orders</h1>
<ng-container *ngIf="orders$ | async as orders">
  <div class="table-responsive">
    <table class="table w-100">
      <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>User ID</th>
        <th>Products</th>
        <th>Payment Type</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders" class="border-bottom" [routerLink]="String(order.OrderId)">
        <td>{{ order.OrderId }}</td>
        <td>{{ order.OrderDate | date}}</td>
        <td>{{ order.UserId }}</td>
        <td>
          <ul class="mb-0 p-0">
            <li *ngFor="let product of order.Products" class="mb-1">
              Product ID: {{ product.ProductId }}, Quantity: {{ product.Quantity }}
            </li>
          </ul>
        </td>
        <td>{{ order.PaymentType }}</td>
        <td>{{ order.TotalPrice | currency }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</ng-container>
